<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

  <display-name>StoreMapper Web Application (Tomcat 10)</display-name>

  <context-param>
    <param-name>java.util.logging.config.file</param-name>
    <param-value>${catalina.base}/conf/logging.properties</param-value>
  </context-param>

  <!-- Configure JSP -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
      <scripting-invalid>false</scripting-invalid>
      <include-prelude>/WEB-INF/jspf/taglibs.jspf</include-prelude>
    </jsp-property-group>
  </jsp-config>

  <!-- Servlet Mapping (if not using annotations) -->
  <servlet>
    <servlet-name>LocationServlet</servlet-name>
    <servlet-class>com.example.web.LocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocationServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

</web-app>